body {
  font-family: Arial, sans-serif;
  background-color: #e8f5e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
}

input {
  padding: 10px;
  width: 200px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #43a047;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #388e3c;
}

.output {
  margin-top: 20px;
  font-size: 18px;
}

header {
    background-color: black;
    opacity: 0.7;
}

footer {
     background-color: black;
    opacity: 0.4;
}


body,.Home {
  background-image: url(/image.png);
  /* background-repeat: no-repeat; */

}
